<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lastools</title>

    <!-- CSS  -->
    <link rel="icon" href="/static/assets/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="/static/css/materialize.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <link
      href="/static/css/style.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
  </head>
  <body>
    <nav class="black" role="navigation">
      <div class="nav-wrapper container black">
        <a id="logo-container" href="#" class="brand-logo">
          <i class="material-icons red-text-alt">build</i></a
        >
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
      </div>
    </nav>

    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br /><br />
          <h1 class="header center red-text-alt text-lighten-2">Lastools</h1>
          <div class="row center">
            <h5 class="header col s12 light white-text">
              Web based tools to extend Last.fm
            </h5>
          </div>
          <div class="row center">
            <div class="col s12 m6">
              <a
                href="/playlist"
                id="download-button"
                class="btn-large waves-effect waves-light red-alt lighten-1"
                >Port Music to Spotify</a
              >
            </div>

            <div class="col s12 m6">
              <a
                href="/chart"
                id="download-button"
                class="btn-large waves-effect waves-light red-alt lighten-1"
                >Collages</a
              >
            </div>
          </div>
          <br /><br />
        </div>
      </div>
      <div class="parallax">
        <img
          src="/static/assets/background4.jpg"
          alt="Unsplashed background img 1"
        />
      </div>
    </div>

    <footer class="page-footer black hide-on-med-and-down">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Site</h5>
            <p class="grey-text text-lighten-1">Built with Materialize</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li>
                <a
                  class="grey-text text-lighten-1"
                  href="https://www.spotify.com"
                  >Spotify</a
                >
              </li>
              <li>
                <a class="grey-text text-lighten-1" href="https://www.last.fm/"
                  >Last.fm</a
                >
              </li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li>
                <a
                  class="grey-text text-lighten-1"
                  href="https://github.com/conorbros"
                  >Github</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script type="module" src="/static/js/init.js"></script>
  </body>
</html>
